<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iot.accenture.com.warehouseapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/home_automation_background"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="iot.accenture.com.iotapplication.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.iot.fragments.RackScreenFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.iot.fragments.ColumnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.iot.fragments.ContainerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.iot.fragments.OrderPopupDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.iot.fragments.ControlPanelActivity"
            android:screenOrientation="portrait" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name="com.iot.fragments.BeakonReceiverActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.iot.fragments.SettingActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.iot.fragments.ConfirmationActivity"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait">
        </activity>

        <service android:name="com.iot.services.BeaconService" />

        <activity
            android:name="com.iot.fragments.PostLoginActivity"
            android:label="@string/title_activity_post_login"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>